<div class="wrapper">


  <div class="header-container d-flex flex-column">
    <h3 class="h2">{{line1}}</h3>
    <div
    id="animated-text-container"
    class="animated-text-container">
      <ng-container *ngFor="let word of animatedText">
        <h1 [class.d-none]="word !== animatedText1">
          <ng-container *ngFor="let character of word.split(''); let i = index">
            <span
            style="--index: {{i}};"
            class="title-character"
            >{{character}}</span>
          </ng-container>
        </h1>
      </ng-container>
      <h1>
        <ng-container *ngFor="let character of animatedText2.split(''); let i = index">
          <span
          style="--index: {{i + animatedText1.length}}; "
          class="title-character"
          >{{character}}</span>
        </ng-container>
      </h1>
    </div>
    <p class="align-self-end h2 d-flex gap-2 mt-2">
      <ng-container *ngFor="let item of socialMediaLinks">
        <a [href]="item.link" target="_blank" class="social-link cursor-m-0">
          <i [class]="item.fontawesomeIcon"></i>
        </a>
      </ng-container>
    </p>
  </div>

</div>
