.wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.animated-text-container:hover h1 span{
  opacity: 0;
  animation: opacity0To1
      var(--anim-duration) // Duration
      calc((var(--index) + var(--aditional-index) + 1) * (var(--anim-duration) / 2) + var(--aditional-delay)) // Delay
      forwards cubic-bezier(0.175, 0.885, 0.32, 2.775);
}

h1 {
  --bump: 0;


  font-size: calc(10vw + 1rem);
  font-weight: 700;
  position: relative;
  display: flex;
}

h1 span {
  --anim-duration: .1s;
  --aditional-index: 0;
  --aditional-delay: 0s;
  cursor: default;
  opacity: 0;
  animation: opacity0To1
      var(--anim-duration) // Duration
      calc((var(--index) + var(--aditional-index) + 1) * (var(--anim-duration) / 2) + var(--aditional-delay)) // Delay
      forwards cubic-bezier(0.175, 0.885, 0.32, 2.775);
  animation-direction: normal;

}

a.social-link{
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  text-decoration: none;
  transition: all .3s ease-in-out;
  background-color: transparent;
  outline: 2px solid var(--app-primary-color);
  color: var(--app-primary-color);
  &:hover{
    width: 3rem;
    background-color: var(--app-primary-color);
    color: white;
  }
  i {
    transition: none;
  }
}
