<div class="wrapper">


  <h5>{{line1}}</h5>
  <h1>
    <ng-container *ngFor="let character of convertStringIntoArray(animatedText1); let i = index">
      <span
      style="--index: {{i}}"
      class="title-character"
      >{{character}}</span>
    </ng-container>
  </h1>
  <h1>
    <ng-container *ngFor="let character of convertStringIntoArray(animatedText2); let i = index">
      <span
      style="--index: {{i + animatedText1.length / 2}}; "
      class="title-character"
      >{{character}}</span>
    </ng-container>
  </h1>
</div>