<div class="wrapper">
  <div class="section-header">
    <h2>{{ pageTitle }}</h2>
  </div>
  <div class="section-body">
    <div
      class="d-flex flex-column flex-lg-row flex-wrap gap-3 text-uppercase fw-bold"
    >
      <ng-container *ngFor="let item of contactLinks">
        <a [href]="item.link" target="_blank" class="btn-hover-fill cursor-0">
          <i [class]="item.fontawesomeIcon + ' icon'"></i>
          <span class="title">{{ item.title }}</span>
        </a>
      </ng-container>
      <a [routerLink]="emailLink.link" class="btn-hover-fill cursor-0">
        <i [class]="emailLink.fontawesomeIcon + ' icon'"></i>
        <span class="title">{{ emailLink.title }}</span>
      </a>
    </div>
  </div>
</div>
