<label class="grid place-content-center h-full text-center">
  <input
    type="checkbox"
    name="darkmode"
    id="darkmode"
    style="height: 0; width: 0"
    [(ngModel)]="darkMode"
    (ngModelChange)="onChange()"
  />
  <i
    class="text-4xl fa-moon mb-3"
    [class.fa-solid]="darkMode"
    [class.fa-regular]="!darkMode"
  ></i>
  <span
    class="checkbox-wrapper relative rounded-full w-12 h-6"
    [class.bg-zinc-900]="darkMode"
    [class.bg-zinc-200]="!darkMode"
    [class.checked]="darkMode"
  ></span>
</label>
