.checkbox-wrapper {
  --_offset: 8px;
  &::after {
    content: "";
    position: absolute;
    top: calc(var(--_offset) * 0.5);
    left: calc(var(--_offset) * 0.5);
    height: calc(100% - var(--_offset));
    aspect-ratio: 1;
    background-color: currentColor;
    border-radius: inherit;
  }
  &.checked::after {
    transform: translateX(calc(100% + var(--_offset)));
  }
}
