<div
style="--card-ideal-width: {{idealWidth}};"
class="wrapper">

<div class="section-header">
  <h2>{{title}}</h2>
</div>
<div class="cards-container">
  <ng-container *ngFor="let item of projects">
    <div
    class="card card-project m-0 position-relative bg-transparent overflow-hidden">
      <img
      class="card-image-bg" [src]="item.background">
      <div class="card-content p-3 d-flex gap-2 flex-column">
        <h3 class="card-title text-uppercase text-light">{{item.title}}</h3>
        <div class="card-tags d-flex gap-2">
          <ng-container *ngFor="let tag of item.tags">
            <i [class]="tag.fontAwesomeIcon" ></i>
          </ng-container>
        </div>
        <div class="my-btn-group d-flex gap-2 position-absolute bottom-0 start-0 m-2">
          <a class="btn btn-primary shadow-sm" target="_blank" [href]="item.links.demo">Demo</a>
          <a class="btn btn-primary shadow-sm" target="_blank" [href]="item.links.github">Github</a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of skills">
    <div
    class="card card-skill m-0 position-relative overflow-hidden">
      <div class="card-content p-3 gap-2">
        <i [class]="item.fontAwesomeIcon" ></i>
        <p class="card-title text-uppercase m-0">{{item.title}}</p>
      </div>
    </div>
  </ng-container>
</div>

</div>
