.content {
  border-image: linear-gradient(
      rgba(var(--_bg-color), 1) -50%,
      rgba(var(--_bg-color), 0.25)
    )
    1 fill;
  animation: bgPosAnim 20s infinite ease-in-out alternate;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
    border-image: linear-gradient(
        rgba(var(--_bg-color), 1) -50%,
        rgba(var(--_bg-color), 0.25) 25%
      )
      1 fill;
    .content-header h5 {
      transform: scale(0.85);
    }
  }
}

.content-header h5 {
  transform-origin: top left;
  transition-timing-function: linear !important;
}

@keyframes bgPosAnim {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
