<div
  class="content flex-grow flex flex-col gap-2 p-4 transition-all text-white"
  [style]="contentStyles"
>
  <div class="content-header">
    <div class="custom-content">
      <ng-content></ng-content>
    </div>
    <h5 class="font-semibold text-xl mb-8 transition-all">
      {{ project?.title }}
    </h5>
  </div>
  <div
    class="flex gap-2 flex-wrap mt-auto justify-end text-sm items-center font-semibold"
  >
    <app-default-button
      customClasses="bg-transparent border-0"
      [routerLink]="projectRoute"
    >
      Ver detalhes
      <i class="ms-2 text-xs fa-solid fa-arrow-right -rotate-45"></i
    ></app-default-button>
  </div>
</div>
