<div
  class="content flex-grow flex flex-col gap-2 p-4 transition-all text-white"
  [style]="contentStyles"
>
  <div class="content-header">
    <ng-content></ng-content>
    <h5 class="font-semibold text-xl mb-8">
      {{ project?.title }}
    </h5>
  </div>
  <div
    class="flex gap-2 flex-wrap mt-auto justify-end text-sm items-center font-semibold"
  >
    <app-default-button [routerLink]="projectRoute">
      Ver detalhes
      <i class="ms-2 text-xs fa-solid fa-arrow-right"></i
    ></app-default-button>
  </div>
</div>
