body{
  --app-body-bg: #f2f2f2;
  --app-body-color: #0d0d0d;

  --app-primary-color: rgb(251, 178, 42);

  --bs-body-bg: var(--app-body-bg);

  --track-bg: var(--app-body-bg); //#4a4b57;
  --thumb-bg: var(--app-body-color); // var(--app-primary-color);
  &.dark-mode{
    --app-body-bg: #0d0d0d;
    --app-body-color: #f2f2f2;
  }
}

body {
  background-color: var(--app-body-bg);
  color: var(--app-body-color)
}
