.wrapper{
  padding: calc(var(--default-padding) * .5);
  padding-right: calc(var(--default-padding) * .5 - var(--scrollbar-width));
  overflow: auto;
  overflow-y: scroll;
  height: 100%;
  transition: all var(--default-anim-duration);
  > h2{
    text-transform: uppercase;
    transition: none;
  }
}

.wrapper >*, h1,h2,h3,h4,h5,h6, p{
  margin: 0;
  line-height: 1;
}
