.nav-link {
  opacity: 0.25;
  &::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 1px;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: currentColor;
    transition: inherit;
  }
}
.nav-link.active,
.nav-link:hover {
  opacity: 1;
  &::before {
    width: 125%;
  }
}
