<div class="grid grid-cols-2 gap-4 min-h-full">
  <block
    class="text-5xl p-10 grid place-content-center col-span-1 bg-red-700 border-red-500"
    ><i class="fa-brands fa-itch-io"></i
  ></block>
  <block
    class="text-5xl p-10 grid place-content-center col-span-1 bg-gray-700 border-gray-500"
    ><i class="fa-brands fa-github"></i
  ></block>
  <block
    class="text-5xl p-10 grid place-content-center col-span-1 bg-blue-800 border-blue-600"
    ><i class="fa-brands fa-linkedin-in"></i
  ></block>
  <block
    class="text-5xl p-10 grid place-content-center col-span-1 bg-green-700 border-green-500"
    ><i class="fa-brands fa-whatsapp"></i
  ></block>
</div>
