.app-wrapper {
  --default-margin: 10vmin;
  --default-padding: 1.5rem;
  --inactive-section-transform: scale(.5);
  --active-section-transform: scale(1);
  --section-animation-delay: var(--default-anim-duration) / 2;
}

section{
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  pointer-events: none;
  outline: 2px solid;
  transition:
    width var(--default-anim-duration),
    height var(--default-anim-duration),
    margin var(--default-anim-duration),
    padding var(--default-anim-duration),
    color 0s,
    opacity var(--default-anim-duration);
  background-color: var(--app-body-bg);

  height: calc(100vh - var(--default-margin));
  height: calc(100svh - var(--default-margin));
  width: calc(100vw - var(--default-margin));
  width: calc(100svw - var(--default-margin));
  margin: calc(var(--default-margin) * .5);
  overflow: hidden;

  :first-child{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }
}

section.active{
  opacity: 1;
  pointer-events: all;
}
