<bento-grid
  class="grid-rows-[1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr] md:grid-rows-[1fr,1fr,1fr,1fr,1fr]"
>
  <block class="col-span-12 md:col-span-8 row-span-2">
    <div class="flex flex-col h-full">
      <div
        [class]="
          'portrait-wrapper rounded-full w-12 h-12 mb-3 ' +
          (darkMode ? 'bg-white' : 'bg-zinc-600')
        "
      >
        <img src="" alt="" srcset="" />
      </div>
      <p class="text-2xl mb-3 font-semibold">Olá, meu nome é Moisés Marchini</p>
      <div class="text-sm flex-grow grid gap-2 place-content-start">
        <p>
          Sou um desenvolvedor fullstack com experiência em Angular, Bootstrap,
          TailwindCSS e .NET.
        </p>
        <p class="text-zinc-500">
          Sou apaixonado por café, adoro passar o tempo jogando xadrez,
          assistindo séries e assumindo o papel de barman para os amigos.
        </p>
      </div>
      <app-default-button
        customClasses="bg-transparent font-semibold p-0 hover:bg-transparent border-0 hover:underline mt-8 text-green-400"
        routerLink="/contact"
      >
        <span>
          Entrar em contato
          <i class="ms-2 text-xs fa-solid fa-arrow-right"></i>
        </span>
      </app-default-button>
    </div>
  </block>
  <socials class="row-span-2"></socials>
  <dark-mode-block></dark-mode-block>
  <block class="row-span-2"></block>
  <project-block class="md:col-span-8" [project]="latestProject">
    <h3 class="opacity-50 font-semibold text-xs">Último Projeto</h3>
  </project-block>
  <block class="row-span-2"></block>
  <block class="grid place-content-center">
    <div class="grid gap-3 text-center">
      <i class="fa-solid fa-location-dot text-4xl"></i>
      <p class="text-xs md:text-sm font-semibold">Rio de Janeiro</p>
    </div>
  </block>
  <block class=""></block>
  <block class=""></block>
</bento-grid>
