<bento-grid
  class="grid-rows-[1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr,1fr] md:grid-rows-[1fr,1fr,1fr,1fr,1fr]"
>
  <block class="col-span-12 md:col-span-8 row-span-2">
    <div class="h-full p-6">
      <div
        [class]="
          'portrait-wrapper rounded-full w-12 h-12 mb-3 ' +
          (darkMode ? 'bg-white' : 'bg-zinc-600')
        "
      >
        <img src="" alt="" srcset="" />
      </div>
      <p class="text-2xl mb-3 font-semibold">Olá, meu nome é Moisés Marchini</p>
      <div class="text-sm flex-grow grid gap-2 place-content-start">
        <p>
          Sou um desenvolvedor fullstack desde 2022 com experiência em Angular,
          Bootstrap, TailwindCSS e .NET.
        </p>
        <p class="text-zinc-500">
          Sou apaixonado por café, adoro passar o tempo jogando xadrez,
          assistindo séries e assumindo o papel de barman para os amigos.
        </p>
      </div>
      <app-default-button
        customClasses="bg-transparent font-semibold p-0 hover:bg-transparent border-0 hover:underline mt-8 text-green-400"
        routerLink="/contact"
      >
        <span>
          Entrar em contato
          <i class="ms-2 text-xs fa-solid fa-arrow-right"></i>
        </span>
      </app-default-button>
    </div>
  </block>
  <bento-grid
    class="grid-cols-2 grid-rows-2 row-span-2 col-span-12 md:col-span-4"
  >
    <social-block
      class="bg-blue-700 hover:bg-blue-500 border-blue-500 hover:-rotate-3"
      media="linkedin"
    ></social-block>
    <social-block
      class="bg-gray-700 hover:bg-gray-500 border-gray-500 hover:rotate-3"
      media="github"
    ></social-block>
    <social-block
      class="bg-red-700 hover:bg-red-500 border-red-500 hover:-rotate-3"
      media="itchIo"
    ></social-block>
    <social-block
      class="bg-green-700 hover:bg-green-500 border-green-500 hover:rotate-3"
      media="phone"
    ></social-block>
  </bento-grid>
  <dark-mode-block></dark-mode-block>
  <block class="row-span-2"></block>
  <project-block class="md:col-span-8" [project]="latestProject">
    <h3 class="opacity-50 font-semibold text-xs">Último Projeto</h3>
  </project-block>
  <block class="row-span-2 p-0">
    <div class="img-wrapper overflow-hidden opacity-f h-full rounded-[inherit]">
      <img
        src="/assets/images/others/coffee.png"
        class="h-full w-full object-cover blur-sm"
        alt=""
        srcset=""
      />
    </div>
  </block>
  <block class="grid place-content-center relative overflow-hidden border-0">
    <span
      class="absolute inset-0 opacity-[0.5]"
      style="
        background-image: url(/assets/images/blocks/maps.jpg);
        background-size: cover;
      "
    ></span>
    <div class="grid gap-3 text-center z-10">
      <i class="fa-solid fa-location-dot text-4xl"></i>
      <p class="text-sm md:text-base font-semibold">Rio de Janeiro</p>
    </div>
  </block>
  <block class="col-span-12 md:col-span-4"></block>
  <block class="text-center p-0">
    <a
      class="grid place-content-center gap-3 h-full font-semibold"
      href="/assets/MoisesMarchini-CV.pdf"
      download="MoisesMarchini-CV.pdf"
    >
      <i class="fa-regular fa-file-pdf text-4xl"></i>
      <span> Currículo </span>
    </a>
  </block>
  <languages-block class="relative"></languages-block>
</bento-grid>
