.card-contact{
  border: 2px solid var(--app-body-color);
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  gap: .5rem;
}

.card-contact .title, .card-contact .icon{
  mix-blend-mode: difference;
  color: white;
}

.card-contact::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: var(--app-body-color);
  transition: width var(--default-anim-duration);
}

.card-contact:hover::before{
  width: 100%;
}
