
<div
id="projectsWrapper"
style="transition: all .8s ease; height: 100vh; height: 100svh; width: 100vw; width: 100svw;"
(wheel)="handleMouseWheel($event)"
[class.p-5]="fullScreenProjectIndex === -1"
[class.p-0]="fullScreenProjectIndex !== -1"
[class.gap-0]="currentProjectIndex === fullScreenProjectIndex"
[class.gap-3]="currentProjectIndex !== fullScreenProjectIndex"
class="position-relative d-flex overflow-auto hide-scrollbar flex-nowrap">

  <ng-container *ngFor="let item of projects; let i=index">
    <app-project-card
    [id]="'project-'+i"
    [class.active]="i === currentProjectIndex"
    [class.full-screen]="i === currentProjectIndex && i === fullScreenProjectIndex"
    [class.hide]="currentProjectIndex === fullScreenProjectIndex && i !== currentProjectIndex"

    [isFullScreen]="i === currentProjectIndex && i === fullScreenProjectIndex"
    [isActive]="i === currentProjectIndex"
    (click)="OnClickProject(i)"
    ></app-project-card>
  </ng-container>

</div>
