body{
  --app-body-bg: #f2f2f2;
  --app-body-color: #0d0d0d;
  --app-body-color-rgb: 13, 13, 13;
  --app-body-outer-color: var(--app-body-bg);

  --app-primary-color: rgb(251, 42, 42);
  --app-primary-color-rgb: 251, 42, 42;

  --bs-body-bg: var(--app-body-bg);
  --bs-body-color: var(--app-body-color);

  --track-bg: var(--app-body-bg); //#4a4b57;
  --thumb-bg: var(--app-body-color); // var(--app-primary-color);
  &.dark-mode{
    --app-body-bg: #0d0d0d;
    --app-body-color: #f2f2f2;
    --app-body-color-rgb: 242, 242, 242;
  }
}
