:root{
  --scrollbar-width: 6px;
}

::-webkit-scrollbar{
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: var(--thumb-bg);
}

.hide-scrollbar {
  scrollbar-width: none; /* Para navegadores que suportam a propriedade scrollbar-width */
  scrollbar-color: transparent transparent; /* Para navegadores que suportam a propriedade scrollbar-color */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: var(--scrollbar-width);
}
