.blob-wrapper{
  --box-margin: 10vmin;
  --fill-color: var(--app-primary-color);
  --default-anim-duration: .5s;

  position: fixed;
  left: calc(var(--box-margin) * .5);
  top: calc(var(--box-margin) * .5);
  z-index: -1;
  width: calc(100vw - var(--box-margin));
  width: calc(100svw - var(--box-margin));
  height: calc(100vh - var(--box-margin));
  height: calc(100svh - var(--box-margin));
  display: grid;
  place-items: center;
  overflow: hidden;
  outline: 5px solid var(--app-body-color);
  transition: var(--default-anim-duration);
  .blob-svg{
    width: 100%;
    height: 100%;
    transition: all var(--default-anim-duration) ease;
    path{
      fill: var(--fill-color);
      transition: all 20s cubic-bezier(0.175, 0.885, 0.32, 2.275), fill var(--default-anim-duration) ease;
    }
  }
}

.blob-wrapper.full-screen {

  .blob-svg{
    width: 500%;
    height: 500%;
  }
}

