
<div
appLookAtMouse
[enabled]="!isFullScreen"
[class.border-0]="isFullScreen"
[class.rounded-0]="isFullScreen"
[class.rounded-5]="!isFullScreen && isActive"
style="border-radius: 40px;"
class="card mx-auto h-100 w-100 border-4 border p-2 border-white border-opacity-10 bg-transparent overflow-hidden">
  <img
  appImgParallax
  style="object-fit: cover;" class="h-100 w-100 position-absolute top-0 start-0" src="https://images.unsplash.com/photo-1682687221323-6ce2dbc803ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"/>

  <div
  class="project-bubble rounded-pill bg-light position-absolute d-flex align-items-center flex-nowrap">

    <i
    class="fa-solid fa-snowflake project-icon flex-grow-1"></i>

    <h5
    style="
    min-width: 0;
    white-space: nowrap;"
    [class.pe-3]="isActive"
    [class.opacity-0]="!isActive"
    class="m-0 lh-1 text-uppercase project-caption flex-shrink-1 flex-grow-0">Testando</h5>

  </div>

</div>
