<div
  class="section-header-container flex flex-col justify-center h-[70vh] max-h-[520px] max-w-xl"
>
  <div class="title-container h-1/2 flex flex-col justify-end">
    <h2
      class="text-4xl font-bold tracking-tight text-zinc-800 sm:text-5xl dark:text-zinc-100"
    >
      {{ model?.title }}
    </h2>
    <ng-content select="[after-title]"></ng-content>
  </div>
  <div class="title-container h-1/2">
    <p
      *ngIf="model?.description"
      class="mt-6 text-base text-zinc-600 dark:text-zinc-400"
      [innerHTML]="model?.description"
    ></p>
    <ng-content select="[after-description]"></ng-content>
  </div>
</div>
