.btn{
  --btn-margin: calc(var(--default-margin) * 0.5);
  --btn-top: 0%;
  --btn-left: 0%;
  --btn-transform: 0%, 0%;
  transition: all var(--default-anim-duration) ease, font-size 0ms linear, color 0ms linear;
  color: var(--app-body-color);
  z-index: 100;
  width: 4rem;
  height: 4rem;
  position: fixed;
  top: calc(var(--btn-margin) + var(--btn-top) - 1px);
  transform: translate(var(--btn-transform));
  font-size: clamp(1.5rem, 2rem, 5vmin);
  padding: 0;
  border-radius: 0;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: 0;
  .btn-icon{
    position: absolute;
  }
}

.btn-nav{
  left: calc(var(--btn-margin) + var(--btn-left) - 1px);
  border-bottom-right-radius: 50%;

  .close{
    transform: rotate(45deg);
    opacity: 0;
  }
}

.btn-dark-mode{
  right: calc(var(--btn-margin) + var(--btn-left) - 1px);
  border-bottom-left-radius: 50%;
  .btn-icon{
    transition: inherit;
  }
  .inactive{
    opacity: 0;
    rotate: 45deg;
  }

  &.nav-open{
    background-color: white;
    color: black;

    border-radius: 50%;
    margin: 6px;
  }
}

.nav-container{
  --offset: 0px;
  --total-menus: 4;
  position: fixed;
  background-color: transparent;
  pointer-events: none;
  z-index: 1000;
  display: grid;
  place-items: center;
  opacity: 0;
  .nav-buttons{
    width: calc(80vw - 40px);
    gap: 1rem;
    .nav-button{
      width: fit-content;
      position: relative;
      text-transform: uppercase;
      text-justify: distribute;
      text-align: left;
      font-size: 10vmin;
      transform: translateX(-40px);

      font-weight: 900;
      background-color: transparent;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      border: 0px solid white;
      outline-color: white;
      .text-filled{
        position: absolute;
        top: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 0%;
        color: white;
        -webkit-text-fill-color: white;
        transition: calc(var(--default-anim-duration) * .5) linear;
      }
      &.active{
        border-left: 60px solid white;
        -webkit-text-fill-color: white;
      }
      &:hover, &.active, &:focus-within{
        padding-left: 20px;
        .text-filled{
          width: 100%;
        }
      }
    }
  }
}

.nav-container.active{
  --offset: 120px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: stroke;
  backdrop-filter: blur(5px);
}
