<div class="wrapper">
  <div class="accordion flex-grow-1 flex-shrink-1">
    <ng-container *ngFor="let item of accordionElements; let i = index">
      <div
      appLookAtMouse
      [showGradient]="false"
      [id]="'panel_'+i"
      [class.active]="i===panelSelected"
      style="--accordion-color: var(--app-primary-color);"
      (click)="onClickPanel('panel_'+i, i)"
      class="accordion-panel">

        <h2 class="lh-1">
          <button class="accordion-trigger" (click)="panelSelected = i">
            <i
            [class]="item.fontAwesomeIconClass+' accordion-icon'"></i>
            <span class="accordion-title">{{item.title}}</span>
          </button>
        </h2>
        <div class="accordion-content">
          <p>{{item.content}}</p>

          <img
          appImgParallax
          [src]="item.backgroundImage"
          class="accordion-image">
        </div>

      </div>
    </ng-container>
  </div>
</div>
