<div class="grid grid-cols-12 gap-4 mx-auto w-full grid-flow-dense">
  <block
    class="col-span-12 sticky top-4 shadow-lg shadow-zinc-900 z-10"
  ></block>
  <block class="col-span-12 md:col-span-8">
    <p class="text-2xl mb-3 font-semibold">Lorem ipsum dolor sit.</p>
    <p class="text-sm text-zinc-500">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus
      dolor provident nobis exercitationem architecto hic ea reiciendis.
      Corrupti commodi placeat, beatae provident similique aut, maiores dolorum
      odit autem accusantium est!
    </p>
  </block>
  <socials></socials>
  <block class="col-span-8 md:col-span-4">
    <div class="grid gap-3 text-center">
      <i class="fa-solid fa-location-dot text-4xl text-zinc-200"></i>
      <p class="text-zinc-200">Rio de Janeiro - RJ</p>
    </div>
  </block>
  <block class="col-span-12 md:col-span-8 row-span-2"></block>
  <block></block>
  <block class="col-span-6 md:col-span-3"></block>
  <block class="col-span-6 md:col-span-3"></block>
  <block class="col-span-6 md:col-span-3"></block>
  <block class="col-span-6 md:col-span-3"></block>
</div>
